{% extends "layout.html" %}

{% block head %}
	<!--BOOTSTRAP-->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<title>Eventr</title>
	<style type="text/css">
		#main{ border:solid 1px blue;width:500px; padding:25px; margin:0 auto; margin-top:50px; text-align:center;}
		#main input[type="text"], #main input[type="name"], #main input[type="password"]{margin:5px 0; width:200px; padding: 5px;}

		#main .signup, #main .login{display:none;}
		#main .signup h3, #main .login h3{font-size:15px;color:blue;cursor:pointer;}
		#main .signup h3:hover, #main .login h3:hover{text-decoration: underline;}
		#main.show_signup .signup{display:block;}
		#main.show_login .login{display:block;}
		#main #txt_username{}
		#main #txt_password{}
		#main #txt_password{}
		#main #txt_email{}
		#main #btn_submit, #btn_logout, #main #btn_submit_login{font-size:22px;border: solid 1px #333; padding: 2px 15px;background:#f5f5f5; margin-top:5px;}
		#main #err, #main #err_login{display:none; border: solid 1px maroon; color:red;margin-top: 20px;}
	</style>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

		$("#main .signup h3").click(function(){
			$("#main").removeClass("show_signup").addClass("show_login");
		});

		$("#main .login h3").click(function(){
			$("#main").removeClass("show_login").addClass("show_signup");
		});

		$("#btn_submit").click(function(){
			
			//get data
			var email_address = $("#txt_email").val(),
				passwd = $("#txt_password").val(),
				name = $("#txt_name").val(),
				$err = $("#main #err"),
				err_msg = [];
			
			//validate data
			if (!email_address) err_msg.push( "please provide an e-mail");
			if (!passwd) err_msg.push( "please provide a password");

			if (err_msg.length){
				$err.html(err_msg.join('<br/>')).show();
				return;
			}
			else {
				$err.hide();
			}

			//send data
			var url = "/api/signup",
				data = {'name':name,'email': email_address, 'password':passwd };
			console.log("before is it?")
			$.post(url, data, function(res){
				if (res.status == "OK"){
					//loading...
					alert("server says its cool")
					window.location.href = "/"
				}
				else
				{
					if (res.error) alert(res.error);
					else alert("Unknown Error");
				}

			});//end post
		});//end click

		$("#btn_submit_login").click(function(){
			//get data
			var email_address = $("#txt_email_login").val(),
				passwd = $("#txt_password_login").val(),
				$err = $("#main #err_login"),
				err_msg = [];
			
			//validate data
			if (!email_address) err_msg.push( "please provide an e-mail");
			if (!passwd) err_msg.push( "please provide a password");

			if (err_msg.length){
				$err.html(err_msg.join('<br/>')).show();
				return;
			}
			else {
				$err.hide();
			}

			//send data
			var url = "/api/login",
				data = {'email': email_address, 'password':passwd };
			$.post(url, data, function(res){
				console.log("got back")
				if (true){
					//loading...
					//window.location.href = "/posts"
				}
				else
				{
					if (res.error) alert(res.error);
					else alert("Unknown Error");
				}

			});//end post
		});//end click

		$("#btn_logout").click(function(){
			console.log("clicked logout")
			var url="/api/logout"
			$.post(url)
			console.log("i tried logging out")
		});

	});//end documentready

	</script>
{% endblock %}
{% block body %}
{% if current_user.is_authenticated %}
  logged in: {{ current_user.name }}!
{% endif %}
	<div id="main" class="show_signup">
		<div class="signup">
			<h1>Signup</h1>
			<h3>Already a memeber? click here to login</h3>
			<input type="text" id="txt_email" placeholder="Please Enter email" />
			<br/>
			<input type="password" id="txt_password" placeholder="Please Enter Password" />
			<br/>
			<input type="name" id="txt_name" placeholder="Please Enter Your Name" />
			<br/>
			<input type="button" id="btn_submit" value="submit" />
			<br/>
			<input type="button" id="btn_logout" value="logout" /> 
			<div id="err"></div>	
		</div>
		<div class="login">
			<h1>Login</h1>
			<h3>Don't have yet? create one here</h3>
			<input type="text" id="txt_email_login" placeholder="Please Enter email" />
			<br/>
			<input type="password" id="txt_password_login" placeholder="Please Enter Password" />
			<br/>
			<input type="button" id="btn_submit_login" value="login" /> 
			<br/>
			<input type="button" id="btn_logout" value="logout" /> 
			<div id="err_login"></div>	
		</div>
	</div>
{% endblock %}